.front-page {
    font-family: "Open Sans", "PT Sans", Calibri, Tahoma, sans-serif;
    background-color: blueviolet;
    color: antiquewhite;
}

.recipe-page {
    font-family: "Open Sans", "PT Sans", Calibri, Tahoma, sans-serif;
    background-color: paleturquoise;
    color: darkred;
}

.recipe-photo {
    height: auto;
    width: 400px;
}

.title,
.subtitle {
    font-weight: bolder;
    font-style: italic;
}

.title {
    text-decoration: underline;
    text-underline-position: below;
}

.front-page .list {
    color: aqua;
}
.recipe-page .list {
    color: black;
    font-style: oblique;
}